<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>hot_city</key>
		<string>北京</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>成都</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>大连</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>重庆</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>佛山</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>大庆</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>长沙</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>福州</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>长春</string>
	</dict>
</array>
</plist>
