<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<string>互联网</string>
	</dict>
	<dict>
		<key>data</key>
		<string>电子商务</string>
	</dict>
	<dict>
		<key>data</key>
		<string>软件</string>
	</dict>
	<dict>
		<key>data</key>
		<string>通信/电子</string>
	</dict>
	<dict>
		<key>data</key>
		<string>金融/保险</string>
	</dict>
	<dict>
		<key>data</key>
		<string>文化/传媒</string>
	</dict>
	<dict>
		<key>data</key>
		<string>企业服务</string>
	</dict>
	<dict>
		<key>data</key>
		<string>教育培训</string>
	</dict>
	<dict>
		<key>data</key>
		<string>生物/医疗</string>
	</dict>
	<dict>
		<key>data</key>
		<string>建筑/房地产</string>
	</dict>
	<dict>
		<key>data</key>
		<string>制造</string>
	</dict>
	<dict>
		<key>data</key>
		<string>材料</string>
	</dict>
	<dict>
		<key>data</key>
		<string>贸易/物流</string>
	</dict>
	<dict>
		<key>data</key>
		<string>政府</string>
	</dict>
	<dict>
		<key>data</key>
		<string>NGO</string>
	</dict>
	<dict>
		<key>data</key>
		<string>运动/体育</string>
	</dict>
	<dict>
		<key>data</key>
		<string>快消</string>
	</dict>
	<dict>
		<key>data</key>
		<string>其他</string>
	</dict>
</array>
</plist>
