<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>hot_city</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>深圳</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>天津</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>苏州</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>韶关</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>石家庄</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>太原</string>
	</dict>
	<dict>
		<key>hot_city</key>
		<string>沈阳</string>
	</dict>
</array>
</plist>
