<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>中国科学院</string>
		<key>date</key>
		<string>03-20发布</string>
		<key>salary</key>
		<string>¥100-150/天</string>
		<key>workday</key>
		<string>4天</string>
		<key>location</key>
		<string>上海</string>
		<key>company</key>
		<string>中国科学院</string>
		<key>job</key>
		<string>大客户销售代表</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>联想</string>
		<key>date</key>
		<string>03-20发布</string>
		<key>salary</key>
		<string>¥100-150/天</string>
		<key>workday</key>
		<string>4天</string>
		<key>location</key>
		<string>上海</string>
		<key>company</key>
		<string>联想集团－企业营销部</string>
		<key>job</key>
		<string>销售助理实习生</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>京东</string>
		<key>date</key>
		<string>03-20发布</string>
		<key>salary</key>
		<string>¥100-150/天</string>
		<key>workday</key>
		<string>4天</string>
		<key>location</key>
		<string>上海</string>
		<key>company</key>
		<string>京东金融</string>
		<key>job</key>
		<string>企业文化编辑实习生</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>百词斩</string>
		<key>date</key>
		<string>03-20发布</string>
		<key>salary</key>
		<string>¥100-150/天</string>
		<key>workday</key>
		<string>4天</string>
		<key>location</key>
		<string>上海</string>
		<key>company</key>
		<string>百词斩</string>
		<key>job</key>
		<string>运营管理培训生</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>爱奇艺</string>
		<key>date</key>
		<string>03-20发布</string>
		<key>salary</key>
		<string>¥100-150/天</string>
		<key>workday</key>
		<string>4天</string>
		<key>location</key>
		<string>上海</string>
		<key>company</key>
		<string>爱奇艺－内容部</string>
		<key>job</key>
		<string>拍客频道节目运营</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>嘀嗒清单</string>
		<key>date</key>
		<string>03-20发布</string>
		<key>salary</key>
		<string>¥100-150/天</string>
		<key>workday</key>
		<string>4天</string>
		<key>location</key>
		<string>上海</string>
		<key>company</key>
		<string>嘀嗒清单</string>
		<key>job</key>
		<string>WEB前端开发实习生</string>
	</dict>
</array>
</plist>
